<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Produtos</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('adicionar_produto') }}">Adicionar Produto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço de Custo</th>
                    <th>Preço de Venda</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto[0] }}</td>  <!-- Acessando o 'pro_id' pela posição 0 -->
                    <td>{{ produto[1] }}</td>  <!-- Acessando o 'pro_nome' pela posição 1 -->
                    <td>{{ produto[2] }}</td>  <!-- Acessando o 'pro_descricao' pela posição 2 -->
                    <td>{{ produto[3] }}</td>  <!-- Acessando o 'pro_custo' pela posição 3 -->
                    <td>{{ produto[4] }}</td>  <!-- Acessando o 'pro_preco' pela posição 4 -->
                    <td>{{ produto[5] }}</td>  <!-- Acessando o 'pro_quantidade' pela posição 5 -->
                    <td><a href="{{ url_for('editar_produto', id=produto[0]) }}">Editar</a></td>
                </tr>
            {% endfor %}            
            </tbody>
        </table>
    </main>
</body>
</html>
