<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios de Estoque</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Relatórios de Estoque</h1>
        
        <div class="mb-3">
            <a href="{{ url_for('produtos_estoque_baixo') }}" class="btn btn-warning">Produtos com Estoque Baixo</a>
        </div>
        <div class="mb-3">
            <a href="{{ url_for('entradas_saidas_periodo') }}" class="btn btn-info">Entradas e Saídas por Período</a>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
